.jumbotron-chores {
  background-image: url('https://36.media.tumblr.com/3aaf947e4b16a78bc8b78733526a0ee2/tumblr_nw54ceF43s1u10jf6o3_1280.jpg');
  width: 100%;
  height: 350px;
  background-size: 100% 100%;
}