.jumbotron {
  background-image: url('https://www.vanillaunderground.com/media/attributesplash/superman-t-shirts-banner.png');
  width: 100%;
  height: 350px;
  background-size: 100% 100%;
}

.jumbotron-about {
  background-image: url('http://i.imgur.com/xLQ7o.jpg');
  width: 100%;
  height: 350px;
  background-size: 100% 100%;
}

.jumbotron-faq {
  background-image: url('http://orig04.deviantart.net/6158/f/2011/294/1/8/marvel_universe___1_by_aspersio-d4dis4x.png');
  width: 100%;
  height: 350px;
  background-size: 100% 100%;
}



