.jumbotron-charts
.container.center-align
  %h3.headline Charts
  .row
    .col.s12.z-depth-5
      %h4.headline.center-align Chores Assigned
      %canvas#chores_assigned{width: 800, height: 500}
  %br
  %br 
  %br   
