.container.center-align
  %h1.headline Charts
  %hr
  .row
    .col.s6.offset-s3.m4.offset-m4.z-depth-5
      %h4.headline.center-align Chores Assigned
      %canvas#chores_assigned{height: 500}
  %br
  %br    
