
%h3.center-align Frequently Asked Questions
%br
.container
  %h4
    %p Is this site free?
  %h5 
    %p That depends.  Most of our users don't live long enough to reach the next billing cycle, so it certainly is free for them! For anyone that lives past their expectancy date, we bill the 14th of every month, and the charge is only $1 per week!
  %h4
    %p Is this a dating site?
  %h5
    %p The Yohol community certainly has a lot of turnover, and there are many opportunities to get out there and find the one that you want to spend your remaining days with.  But you better hurry!
  %h4
    %p Is there a life after this life?
  %h5
    %p We get asked that question a lot.  The best answer we have found is to stare into the cosmos on a cloudless night and ask where you came from.  If you find that out, then multiply it by the number Pi.  That is all we have figure out so far.  Also, there is a Hadron Collider at CERN, which might find all the answers.  Or end the world.
  %h4
    %p If I do not know how many days I have left can I still join?
  %h5
    %p Sure, but you might want to pay careful attention to the days left counter in other user profiles. We find that mixing with people who have about the same days left as you decreases heartbreak, and other possibly fatal injuries associated with high-risk activity taking mixed with a "nothing left to lose" mentality.
  %h4
    %p What happens if a local or global calamity happens? Will I get a refund?
  %h5
    %p We don't officially give refunds, but if there happens to be another 14th century style outbreak we will certainly consider refunding any users that remain!
