
%h3.center-align Frequently Asked Questions
%br
.container
  %h4
    %p Is this site free?
  %h5 
    %p Amazing Spider-Man is the cornerstone of the Marvel Universe. This is where youll find all the big-time action, major storylines and iconic Spider-Man magic youd come to expect from the Wall-Crawler. Iron Man, Thor, Captain America and the rest of Earths Mightiest Heroes unite to stand against the threats none can face alone. Avengers Assemble.
  %h4
    %p Does this REALLY get my kid to clean his chores?
  %h5
    %p Vowing to serve his country any way he could, young Steve Rogers took the super soldier serum to become Americas one-man army. Featuring the work of Kurt Busiek, George Perez and other quintessential Avengers creators. The instructors at Avengers Academy hope to steer these super-powered and highly-troubled teens in the right direction, but twists and turns abound.
  %h4
    %p Aren't superheroes dangerous?
  %h5
    %p The classic adventures of Spider-Man from the early days up until the 90s. Now, hes a premiere member of both the X-Men and the Avengers. Born with super-human senses and the power to heal from almost any wound, Wolverine was captured by a secret Canadian organization and given an unbreakable skeleton and claws.
  %h4
    %p Do you offer refunds?
  %h5
    %p Iron Man, Thor, Captain America and the rest of Earths Mightiest Heroes unite to stand against the threats none can face alone. See the Avengers go up against Ultron, Kang, the Masters of Evil and more over three decades of epic action.
