%h3.center-align.headline Frequently Asked Questions
%br
.container
    %h4.headline What Is ChoreHero?
   
    %h5 ChoreHero is the new way to assign chores to your children. As a parent we know how it was growing up and having to do chores around the house, your mom and dad would yell at you to do the dishes or to clean your room and you would hate it! Well now there is a SUPER fun way to get your children doing their chores and actually enjoy them! Parents and children will both love ChoreHero, as a parent it is SUPER simple and fun to assign chores to their children, as a child they will have a blast doing their chores, your child can level up and gain rewards you parents assign to them, such as free ice cream or extra time on the xbox whatever you can think of as a parent!
    %br
    %h4.headline Does This REALLY Get My Children To Do Their Chores?
  
    %h5 The whole idea of building ChoreHero was to gamify chores because all kids love to play games. We figured if we built a way to make chores a fun and learning experience then children would love doing their chores and build resposibility. Kids love games and your children will LOVE ChoreHero and beg their parents to assign more chores so that they can level up and get rewards!
    %br
    %h4.headline Why Should Parents Use ChoreHero?
  
    %h5 All parents should use ChoreHero because it will excite their children and get them to do all of their chores without having to yell at them or having to ask them twice. Your children will want to do their chores with ChoreHero. Children who enjoy using ChoreHero and doing their chores will learn respect, and responsibility. 
    %br
    %h4.headline Is ChoreHero Free?
  
    %h5 ChoreHero is 100% free for everyone. 
    %br
    %br
