
/ %head

/ %Title This is the About Page

%body
  .center-align
    %h3 Chore Hero
    %h5
      Welcome to Chore Hero

.parallax-container
  .parallax
    %img{:src => "http://cookusart.com/images/1/outdoor/outdoor-05.jpg"}/
.section.white
  .row.container
    %h2.header What is on your bucketlist?
    %p.h3.grey-text.text-darken-3.lighten-3 Here at Yohol, we want to make sure that you go our with a smile on your face.  So we have designed a place for you to easily add and organize your bucketlist items.  Your new Yohol community awaits.
.parallax-container
  .parallax
    %img{:src => "https://luminous-landscape.com/wp-content/uploads/2009/07/image_03.jpg"}/
.section.white
  .row.container
    %h2.header Pursue goals with family and friends
    %p.h3.grey-text.text-darken-3.lighten-3 At Yohol, we beleive that family and friends are important to outliving your expiration date.  If you don't have friends we have a vibrant community of people desperate to spend their last days with someone else.  It's Win - Win - Win.
.parallax-container
  .parallax
    %img{:src => "http://www.hercampus.com/sites/default/files/2015/05/02/beach-friends2.jpg"}/
    http://www.hercampus.com/sites/default/files/2015/05/02/beach-friends2.jpg