%body.center-align
  .parallax-container
    .parallax
      %img{:src => "http://cookusart.com/images/1/outdoor/outdoor-05.jpg"}
  .section.white
    .row.container
      %h3.header Random info about Chore Hero
      %p.h5.grey-text.text-darken-3.lighten-3 More info if wanted about Chore Hero
  .parallax-container
    .parallax
      %img{:src => "https://luminous-landscape.com/wp-content/uploads/2009/07/image_03.jpg"}
  .section.white
    .row.container
      %h3.header Another Random info for Chore Hera
      %p.h5.grey-text.text-darken-3.lighten-3 Another instance of more info if wanted about Chore Hero
  .parallax-container
    .parallax
      %img{:src => "http://www.hercampus.com/sites/default/files/2015/05/02/beach-friends2.jpg"}
