%body.center-align
  .parallax-container
    .parallax

      %img{:src => "http://static.comicvine.com/uploads/original/13/138572/2824589-13260-gamesrocks-superman.jpg"}

  .section.white
    .row.container
      %h3.header Random info about Chore Hero
      %p.h5.grey-text.text-darken-3.lighten-3 More info if wanted about Chore Hero
  .parallax-container
    .parallax
      %img{:src => "http://primetime.unrealitytv.co.uk/wp-content/uploads/2015/02/who-do-you-really-think-should-play-spider-man.jpeg"}
  .section.white
    .row.container
      %h3.header Another Random info for Chore Hero
      %p.h5.grey-text.text-darken-3.lighten-3 Another instance of more info if wanted about Chore Hero
  .parallax-container
    .parallax
      %img{:src => "http://www.watchmojo.com/uploads/blipthumbs/Fi-M-Wonder-Woman-480i60_480x270.jpg"}
