%body.center-align
  %img.jumbotron
    .section.background-filler.black-text
      %h3.headline.center-align.container 
        Welcome to ChoreHero!
      %h5.container
        Welcome SuperParents to our SuperApp! ChoreHero is the new way of doing chores. ChoreHero was built for parents and their children to help make chores a fun, learning experience. ChoreHero is geared torwards making chores fun for everyone. Chores are now turned into a game for children as your children will be able to gain experience, level up and earn rewards. Your children will beg for more chores!
    .parallax-container
      .parallax
        %img{:src => "https://40.media.tumblr.com/e403dc0a16e2f5f03fa492f356eba350/tumblr_nw54ceF43s1u10jf6o6_r1_1280.jpg"}    
    %h2.headline Features
    .container
      .row
        .col.s1
          %i.material-icons.large stars
        .col.s5
          %h5.headline
            Motivate your kids to do chores!
        .col.s1
          %i.material-icons.large perm_identity
        .col.s5
          %h5.headline
            Only you can sign your kids up for Chore Hero!
      .row      
        .col.s1
          %i.material-icons.large home
        .col.s5
          %h5.headline
            Cleaner Home, Happier Family!
        .col.s1
          %i.material-icons.large grade
        .col.s5
          %h5.headline
            Reward kids for cleaning!

.parallax-container
  .parallax
    %img{:src => "http://primetime.unrealitytv.co.uk/wp-content/uploads/2015/02/who-do-you-really-think-should-play-spider-man.jpeg"}
.section.background-filler.black-text
  .row
    - unless user_signed_in?
      %h3.center-align.headline
        What are you waiting for JOIN NOW?
      .center-align
        %a.waves-effect.waves-light.btn-large.red.darken-4{href: 'users/sign_up'}
          Create account today!
    - if user_signed_in?
      %h3.center-align.headline Thank you for being a valued customer. Have a super day!

  / .parallax-container
  /   .parallax
  /     %img{:src => "http://www.watchmojo.com/uploads/blipthumbs/Fi-M-Wonder-Woman-480i60_480x270.jpg"}
