%body.center-align
  %img.jumbotron
    .section.white.black-text
      %h2 Features
      .container
        .row
          .col.s1
            %i.material-icons.large stars
          .col.s5
            %h5
              Chore Hero is an app designed to motivate your kids to do chores with a easy to use web app.
          .col.s1
            %i.material-icons.large perm_identity
          .col.s5
            %h5
              Only you can sign your kids up for Chore Hero!
        .row      
          .col.s1
            %i.material-icons.large home
          .col.s5
            %h5
              Keep a cleaner home and family!
          .col.s1
            %i.material-icons.large grade
          .col.s5
            %h5
              Reward kids for cleaning!

  .parallax-container
    .parallax
      %img{:src => "http://primetime.unrealitytv.co.uk/wp-content/uploads/2015/02/who-do-you-really-think-should-play-spider-man.jpeg"}
  .section.white.black-text
    .row
      - unless user_signed_in?
        %h3.center-align.headline
          What are you waiting for JOIN NOW?
        .center-align
          %a.waves-effect.waves-light.btn-large.red{href: 'users/sign_up'}
            Create account today!

  / .parallax-container
  /   .parallax
  /     %img{:src => "http://www.watchmojo.com/uploads/blipthumbs/Fi-M-Wonder-Woman-480i60_480x270.jpg"}
