%body.center-align
  %img.jumbotron
    .section.blue.white-text
      %h5 Start your quest to become a HERO!
      %br
  .parallax-container
    .parallax
      %img{:src => "http://primetime.unrealitytv.co.uk/wp-content/uploads/2015/02/who-do-you-really-think-should-play-spider-man.jpeg"}
  .section.blue.white-text
    .row
      %h5 For people of all ages!
  .parallax-container
    .parallax
      %img{:src => "http://www.watchmojo.com/uploads/blipthumbs/Fi-M-Wonder-Woman-480i60_480x270.jpg"}
