.section.indigo.darken-4
  .row
    %footer.page-footer.headline
      .container-fluid
        .col.s12.center-align
          %h5.white-text Chore Hero
          %a= link_to "About", about_path, class: 'white-text'
          |
          %a= link_to "FAQ", faq_path, class: 'white-text'
          |
          %a= link_to "Home", root_path, class: 'white-text'
