.section.indigo.darken-4
  %footer.page-footer
    .container
      .row
        .col.l8.offset-l2.s12
          %h5.white-text Chore Hero
        .col.l8.offset-l2.s12
          %a= link_to "About", about_path, class: 'white-text'
          |
          %a= link_to "FAQ", faq_path, class: 'white-text'
          |
          %a= link_to "Home", root_path, class: 'white-text'
