%head
  %title ChoreHero
  %link{:href => "https://fonts.googleapis.com/css?family=Permanent+Marker", :rel => "stylesheet", :type => "text/css"}
  %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css", :rel => "stylesheet"}
  %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"}
  = stylesheet_link_tag    'application', media: 'all'
  = javascript_include_tag 'application'
  = csrf_meta_tags
  %link 
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}
    %link{:href => "https://fonts.googleapis.com/css?family=Bangers", :rel => "stylesheet", :type => "text/css"}
%body
  =render 'layouts/navbar'
  .oh

  =yield
%footer.footer
  =render 'layouts/footer'